<p>
  <b>Video url:</b>
  <%=h @adil.video_url %>
</p>

<p>
  <b>Created:</b>
  <%=h @adil.created %>
</p>

<p>
  <b>Thumb 104:</b>
  <%=h @adil.thumb_104 %>
</p>

<p>
  <b>Thumb 208:</b>
  <%=h @adil.thumb_208 %>
</p>

<p>
  <b>Pseudohash:</b>
  <%=h @adil.pseudohash %>
</p>


<%= link_to 'Edit', edit_adil_path(@adil) %> |
<%= link_to 'Back', adils_path %>