<h1>New adil</h1>

<% form_for(@adil) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :video_url %><br />
    <%= f.text_field :video_url %>
  </p>
  <p>
    <%= f.label :thumb_104 %><br />
    <%= f.text_field :thumb_104 %>
  </p>
  <p>
    <%= f.label :thumb_208 %><br />
    <%= f.text_field :thumb_208 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', adils_path %>